/* 
   Archivo: estilos.css
   Descripción:
   Se personaliza el canvas con esquinas redondeadas,
   sombra, borde negro y fondo morado.
*/

#lienzo {
    background-color: purple;     /* Relleno morado */
    
    display: block;               
    margin: 20px auto;            

    border: 3px solid black;      /* Línea negra */
    border-radius: 25px;          /* Esquinas redondeadas */

    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);  /* Sombra */
}